---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



// Our variables
$base-font-family: "Noto Sans", "Helvetica Neue", Helvetica, Arial, roboto, sans-serif;
$base-font-size:   14px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;



// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting"
;

h2 {
	margin: 40px 0 10px 0;
}
h3 {
	margin: 30px 0 10px 0;
}
h4 {
	margin: 20px 0 10px 0;
}
h5 {
	margin: 10px 0 10px 0;
}

.undo-ul,.undo-ul>li{
    display:inline-block;
    list-style:none;
    margin:0;
    padding:0
}

img.resize {
	float: left;
	max-width:50%;
	max-height:50%;
}

img[alt$=">"] {
	float:right;
	padding: 1em;
}

img[alt$="<"] {
	float:left;
	padding: 1em;
}

img[alt$="<>"] {
    display: block;
    max-width: 100%;
	padding: 1em;
    height: auto;
    margin: auto;
    float: none!important;
}

.portfollio-icons{
    width:100%;
    margin:0;
    padding:0
}
.portfollio-icons li a{
    display:block;
    text-align:center;
    text-decoration:none;
    margin:10px 10px 0 0;
    border-radius:5px;
    background:$grey-color-light;
    box-shadow:4px 4px 4px #000
}
.portfollio-icons li a:hover span{
    background:$grey-color
}
.portfollio-icons li a span{
    display:block;
    margin:0;
    padding:5px 0 5px 0;
    background:$grey-color-light;
    border-radius:0 0 10px 10px;
    font-size:80%;
    color:$text-color
}
.portfollio-icons li a img{
    display:block;
    width:100px;
    height:100px;
    margin:0 auto;
    border-radius:10px 10px 0 0
}
.portfollio-icons .more{
    float:right
}
.portfollio-icons .more a{
    border-radius:0;
    border-width:100px 0 100px 60px;
    padding:0
}
.portfollio-icons .more a:hover{
    background:none;
    border-color:transparent transparent transparent $grey-color
}
.portfollio-icons li{
    margin-top:0;
    margin-bottom:0;
    padding-top:0;
    padding-bottom:0
}
.portfollio-modlist{
    background-position:center;
    background-size:cover
}

:lang(ms-Arab){
    font-family: "Noto Sans", "Noto Kufi Arabic", "Arial", roboto, "Times New Roman", sans-serif;
	line-height: 2em;
}
:lang(ja){
    font-family: "Noto Sans", "Noto Sans JP", "Meiryo", "Arial", roboto, sans-serif;
	line-height: 1.25em;
}
:lang(zh-Hans){
    font-family: "Noto Sans", "Noto Sans SC", "Microsoft YaHei", "Arial", roboto, sans-serif;
	line-height: 1.25em;
}
:lang(zh-Hant){
    font-family: "Noto Sans", "Noto Sans TC", "Microsoft JhengHei", "Arial", roboto, sans-serif;
	line-height: 1.25em;
}